@*@model IEnumerable<DocsDigitalesApp.Models.SucursalViewModel>*@

@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Sucursales";
}

<style type="text/css">
    .modal-body .form-group {
        padding-right: 23px;
    }
</style>

<h2>@ViewBag.Title</h2>

<p>
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#frmNuevaSucursal">
        Crear Nueva
    </button>
</p>


<div id="grid_sucursales_list" style="display: none;" />

<!-- Modal Nueva Sucursal-->
<div class="modal fade" id="frmNuevaSucursal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Sucursal</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="msjAlerta" class="form-group" style="display: none;">
                    </div>
                </div>
                <div class="form-group" style="padding-right: 25px;">
                    <input id="frmNombre" type="text" class="form-control input-sm" placeholder="Nombre">
                    <span id="errorNombre" style="color: red; display: none;">*Ingrese el Nombre</span>
                </div>
                <div class="form-group">
                    <input id="frmCalle" type="text" class="form-control input-sm" placeholder="Calle">
                </div>
                <div class="form-group">
                    <input id="frmColonia" type="text" class="form-control input-sm" placeholder="Colonia">
                </div>
                <div class="form-group">
                    <input id="frmNumExt" type="text" class="form-control input-sm" placeholder="Número Exterior">
                </div>
                <div class="form-group">
                    <input id="frmNumInt" type="text" class="form-control input-sm" placeholder="Número Interior">
                </div>
                <div class="form-group">
                    <input id="frmCP" type="text" class="form-control input-sm" placeholder="Código Postal">
                </div>
                <div class="form-group">
                    <input id="frmCiudad" type="text" class="form-control input-sm" placeholder="Ciudad">
                </div>
                <div class="form-group">
                    <input id="frmPais" type="text" class="form-control input-sm" placeholder="País">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarSucursal" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/jquery.numeric.js"></script>
    <script src="~/Scripts/sucursal.index.js"></script>
}

