@*@model IEnumerable<DocsDigitalesApp.Models.EmpleadoViewModel>*@

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@*<style type="text/css">
    .modal-body .form-group {
        padding-right: 23px;
    }
</style>*@

<h2>@ViewBag.Title</h2>

<p>
    <!-- Boton que manda llamar la forma de nuevo empleado -->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#frmNuevoEmpleado">
        Crear Nuevo
    </button>
</p>

<h2 id="mensaje" style="display: none;">No hay sucursales registradas.</h2>
<div id="grid_empleados_list" style="display: none;"></div>

<!-- Modal Nuevo Empleado-->
<div class="modal fade" id="frmNuevoEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Empleado</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="frmNombre" type="text" class="form-control" placeholder="Nombre">
                    <span id="errorNombre" style="color: red; display: none;">*Ingrese el Nombre</span>
                </div>
                <div class="form-group">
                    <input id="frmRFC" type="text" class="form-control" placeholder="RFC">
                    <span id="errorRFC" style="color: red; display: none;">*Ingrese el RFC</span>
                </div>
                <div class="form-group">
                    <input id="frmPuesto" type="text" class="form-control" placeholder="Puesto">
                    <span id="errorPuesto" style="color: red; display: none;">*Ingrese el Puesdo</span>
                </div>
                <div class="form-group">
                    @Html.DropDownList("frmSucursal", (IEnumerable<SelectListItem>)ViewBag.Sucural, new { @class = "form-control" })
                    <span id="errorSucursal" style="color: red; display: none;">*Seleccione una Sucursal</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarEmpleado" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/empleado.index.js"></script>
}

